@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Book Antiqua';
	src: url('../fonts/BookAntiqua-Bold.eot');
	src: url('../fonts/BookAntiqua-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BookAntiqua-Bold.woff') format('woff'),
		url('../fonts/BookAntiqua-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?drupul');
  src:  url('../fonts/icomoon.eot?drupul#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?drupul') format('truetype'),
    url('../fonts/icomoon.woff?drupul') format('woff'),
    url('../fonts/icomoon.svg?drupul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e900";
}
.icon-cash:before {
  content: "\e901";
}
.icon-e_money:before {
  content: "\e902";
}
.icon-beznal:before {
  content: "\e903";
}
.icon-deliver:before {
  content: "\e904";
}
.icon-pig:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e906";
}
.icon-sms:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-10:before {
  content: "\e909";
}
.icon-time:before {
  content: "\e90a";
}
.icon-mobile:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90e";
}
.icon-chrysal:before {
  content: "\e90f";
}
.icon-delivery2:before {
  content: "\e910";
}
.icon-flower:before {
  content: "\e911";
}
.icon-heart_box:before {
  content: "\e912";
}
.icon-otkritka:before {
  content: "\e913";
}
.icon-paper:before {
  content: "\e914";
}
.icon-rubl:before {
  content: "\e915";
}
.icon-arrow2:before {
  content: "\e916";
}
.icon-arrow:before {
  content: "\e917";
}
.icon-magnifier:before {
  content: "\e918";
}
.icon-bag:before {
  content: "\e919";
}