* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 500 14px 'Museo Sans Cyrl', sans-serif; }

a {
  font: 500 14px 'Museo Sans Cyrl', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

.head {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Book Antiqua";
  font-size: 32px;
  font-weight: 700; }

.caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

/* Header */
.info {
  padding: 13px 0 12px; }
  .info-wrap {
    background-color: #af3a65; }
  .info-content {
    float: right; }
    .info-content .login {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px; }
      .info-content .login li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px; }
        .info-content .login li a {
          color: #fae8e3;
          border-bottom: 1px solid transparent; }
          .info-content .login li a:hover {
            border-bottom: 1px solid #fae8e3; }
    .info-content .social {
      display: inline-block;
      vertical-align: middle; }
      .info-content .social a {
        margin-right: 6px; }
        .info-content .social a:last-child {
          margin-right: 0; }

.main-nav {
  float: left;
  margin-top: 5px; }
  .main-nav li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px; }
    .main-nav li a {
      color: #fae8e3;
      border-bottom: 1px solid transparent; }
      .main-nav li a:hover {
        border-bottom: 1px solid #fae8e3; }

.header {
  padding: 26px 0 18px; }

.logo {
  float: left;
  margin-right: 107px; }
  .logo img {
    width: 300px; }

.search {
  float: left;
  margin: 7px 110px 0 0; }
  .search-input {
    width: 260px;
    position: relative; }
    .search-input input {
      width: 100%;
      height: 38px;
      border: 1px solid #c2c2c2;
      padding: 0 40px 0 16px;
      margin-bottom: 12px;
      font-weight: 300;
      font-size: 16px;
      color: #000;
      font-family: inherit; }
      .search-input input::-webkit-input-placeholder {
        color: #000; }
      .search-input input:-moz-placeholder {
        color: #000; }
      .search-input input::-moz-placeholder {
        color: #000; }
      .search-input input:-ms-input-placeholder {
        color: #000; }
    .search-input button {
      background: none;
      border: none;
      position: absolute;
      right: 13px;
      top: 11px;
      cursor: pointer; }
      .search-input button:before {
        content: "\e918";
        font-family: 'icomoon' !important;
        display: block;
        font-size: 18px;
        color: #999; }

.callback {
  float: left;
  padding: 16px 0 0 0; }
  .callback-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px; }
    .callback-item a {
      font-weight: 900;
      font-size: 18px;
      color: #000;
      margin-bottom: 8px;
      display: block; }
    .callback-item .callback__modal {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0; }
      .callback-item .callback__modal:hover {
        text-decoration: underline; }

.cart {
  float: right;
  margin-top: 10px;
  position: relative; }
  .cart span {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 14px;
    left: -9px;
    z-index: 5;
    background: #0099da;
    line-height: 26px;
    width: 26px;
    text-align: center;
    border-radius: 50%; }
  .cart i {
    font-size: 44px;
    color: #000; }

/* Nav */
.nav {
  border-top: 1px solid #fcdfd7;
  border-bottom: 1px solid #fcdfd7; }
  .nav__list {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: #fff; }
    .nav__list:hover .nav__link {
      color: #af3a65; }
    .nav__list:hover .nav-sub {
      opacity: 1;
      visibility: visible;
      z-index: 100; }
    .nav__list_popular {
      margin-right: 22px; }
      .nav__list_popular a {
        color: #fae8e3 !important;
        background: #af3a65;
        padding: 0 22px; }
        .nav__list_popular a:hover {
          background: #973257; }
        .nav__list_popular a:after {
          display: none; }
  .nav__link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    line-height: 50px;
    padding: 0 60px 0 0;
    position: relative; }
    .nav__link:hover {
      color: #af3a65; }
    .nav__link:after {
      font-family: 'icomoon' !important;
      content: "\e917";
      display: block;
      position: absolute;
      right: 40px;
      top: 0px;
      transform: rotate(-90deg);
      font-size: 14px;
      color: #b2b2b2; }
  .nav-sub {
    position: absolute;
    top: 100%;
    right: 0;
    left: -16px;
    z-index: -1;
    padding: 14px 14px 12px;
    border: 1px solid #c2c2c2;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    margin-top: -7px;
    background: #fff; }
    .nav-sub a {
      font-size: 16px;
      color: #af3a65;
      margin-bottom: 12px; }
      .nav-sub a:last-child {
        margin-bottom: 0; }
      .nav-sub a:hover {
        color: #000; }

.burger-wrap {
  display: none; }

/* Filter */
.filter {
  padding: 17px 0; }
  .filter-wrap {
    background-color: #fae8e3; }
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px; }
    .filter-item > span {
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 14px;
      display: inline-block;
      vertical-align: middle; }
    .filter-item select {
      width: 220px;
      height: 45px;
      padding-left: 19px;
      border: 1px solid #c2c2c2; }
  .filter button {
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 45px;
    color: #fff;
    background: #af3a65;
    border: none;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 300ms; }
    .filter button:hover {
      background: #8a1540; }

/* Showcase */
.showcase-main {
  float: left;
  width: 50%;
  padding-right: 15px;
  position: relative; }
  .showcase-main-content {
    text-align: center;
    transform: translateY(-50%);
    padding: 0 83px;
    position: absolute;
    top: 50%; }
    .showcase-main-content p {
      font-size: 28px;
      font-family: "Book Antiqua";
      font-weight: 700;
      color: #fff;
      line-height: 1.7; }
  .showcase-main__head {
    font-family: "Book Antiqua";
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px; }

.showcase-items {
  float: right;
  width: 50%;
  padding-left: 15px; }

.showcase-item {
  margin-bottom: 26px; }
  .showcase-item:last-child {
    margin-bottom: 0; }
  .showcase-item__img {
    float: left;
    width: 305px;
    position: relative; }
    .showcase-item__img:before {
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background-color: #af3a65;
      position: absolute;
      top: 27px;
      right: -28px; }
  .showcase-item-content {
    float: right;
    width: 293px;
    margin-top: 12px; }
    .showcase-item-content p {
      color: #1a171e;
      font-size: 16px;
      line-height: 1.5; }
      .showcase-item-content p a {
        color: #0099da;
        font-size: 16px;
        text-decoration: underline; }
        .showcase-item-content p a:hover {
          text-decoration: none; }
  .showcase-item_reverse .showcase-item__img {
    float: right; }
  .showcase-item_reverse .showcase-item-content {
    float: left; }
  .showcase-item_reverse .showcase-item__img:before {
    position: absolute;
    top: 30px;
    right: auto;
    left: -30px; }
  .showcase-item__head {
    color: #1a171e;
    font-family: "Book Antiqua";
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px; }
    .showcase-item__head:hover {
      color: #af3a65; }

/* Video */
.video {
  text-align: center;
  padding: 65px 0 60px; }
  .video__caption {
    margin-bottom: 40px; }
  .video iframe {
    width: 880px;
    height: 520px;
    border: none; }

/* Main journal */
.main-journal {
  padding: 39px 0 57px 0;
  margin-bottom: 68px; }
  .main-journal-wrap {
    background-color: #e6f5fc; }
  .main-journal__head {
    margin-bottom: 35px; }
  .main-journal-items {
    font-size: 0; }
  .main-journal-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%; }
    .main-journal-item:nth-child(3n) {
      margin-right: 0; }
    .main-journal-item p {
      color: #010101;
      font-size: 14px;
      line-height: 1.5;
      padding-bottom: 25px;
      font-weight: 300; }
  .main-journal__date {
    display: inline-block;
    color: #010101;
    font-size: 14px;
    margin: 22px 20px 10px 0;
    font-weight: 300;
    position: relative; }
  .main-journal__link {
    color: #af3a65;
    font-size: 14px;
    text-decoration: underline; }
  .main-journal__name {
    color: #000;
    font-family: "Book Antiqua";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.2;
    display: block; }
    .main-journal__name:hover {
      color: #af3a65; }
  .main-journal__arrow {
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 7px 0; }
    .main-journal__arrow i {
      font-size: 10px;
      display: inline-block;
      transform: rotate(180deg);
      color: #af3a65; }

/* Footer */
.footer {
  padding: 40px 0 22px 0; }
  .footer-info {
    margin: 0 15px 27px 15px; }
  .footer-wrap {
    background-color: #fae8e3; }
  .footer-logo {
    float: left;
    margin-right: 80px;
    margin-top: -11px; }
    .footer-logo img {
      width: 300px; }
  .footer-callback {
    float: left; }
    .footer-callback-item {
      margin-right: 65px;
      display: inline-block;
      vertical-align: middle; }
      .footer-callback-item p {
        padding-bottom: 8px; }
      .footer-callback-item a {
        font-weight: 900;
        font-size: 16px;
        color: #000; }
  .footer-address {
    float: left;
    margin: 0 0 0 16px; }
    .footer-address p {
      padding-bottom: 8px; }
    .footer-address a {
      color: #0099da;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 900; }
      .footer-address a:hover {
        text-decoration: none; }
  .footer-social {
    float: right; }
    .footer-social p {
      padding-bottom: 6px; }
    .footer-social a {
      margin-right: 6px; }
      .footer-social a:last-child {
        margin-right: 0; }
  .footer-nav {
    margin: 0 15px; }
  .footer-menu {
    float: left; }
    .footer-menu ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 70px; }
      .footer-menu ul:last-child {
        margin-right: 0; }
    .footer-menu__list {
      margin-bottom: 7px; }
      .footer-menu__list a {
        color: #000; }
        .footer-menu__list a:hover {
          text-decoration: underline; }
  .footer-payment {
    float: right;
    margin-top: -8px; }

/* Bot-line */
.bot-line {
  padding: 18px 0; }
  .bot-line-wrap {
    background-color: #af3a65; }

.copy {
  float: left;
  color: #fae8e3; }

.omg {
  float: right;
  color: #fae8e3; }
  .omg a {
    text-decoration: underline;
    color: #fae8e3; }
    .omg a:hover {
      text-decoration: none; }

/* Bread */
.bread {
  margin-bottom: 20px;
  margin-top: 30px; }
  .bread li {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .bread li:after {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      font-weight: 300; }
    .bread li:last-child:after {
      display: none; }
    .bread li a {
      font-weight: 300;
      color: #af3a65;
      text-decoration: underline; }
      .bread li a:hover {
        text-decoration: none; }

/* Payment */
.payment__head {
  margin-bottom: 18px; }

.payment-header {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #000; }
  .payment-header a {
    font-weight: 800;
    text-transform: uppercase;
    color: #af3a65;
    text-decoration: underline;
    margin: 0 3px; }
    .payment-header a:hover {
      text-decoration: none; }
    .payment-header a.active {
      color: #000;
      text-decoration: none; }

.payment-content-wrap {
  float: left;
  max-width: 900px; }

.payment-content {
  margin-bottom: 40px;
  border-bottom: 1px solid #af3a65; }
  .payment-content:last-child {
    border-bottom: 0; }
  .payment-content__head {
    font-size: 24px;
    font-family: 'Book Antiqua';
    margin-bottom: 57px;
    font-weight: bold; }

.payment-item {
  margin-bottom: 90px; }
  .payment-item i {
    width: 180px;
    text-align: center;
    font-size: 75px;
    float: left;
    color: #af3a65; }
  .payment-item-content {
    margin-left: 200px; }
  .payment-item__head {
    position: relative;
    padding-left: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 7px; }
    .payment-item__head:before {
      content: '';
      width: 13px;
      height: 2px;
      background: #af3a65;
      position: absolute;
      left: 0px;
      top: 6px; }
  .payment-item p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6; }

.payment-sidebar {
  float: right;
  width: 311px; }
  .payment-sidebar-item {
    background: #e6f5fc;
    padding: 30px 25px 35px;
    margin-bottom: 60px; }
  .payment-sidebar__head {
    font-size: 24px;
    font-family: 'Book Antiqua';
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 27px; }
  .payment-sidebar p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300; }

/* Contacts */
.contacts-items {
  font-size: 0;
  margin-bottom: 45px;
  margin-top: 35px; }

.contacts-item {
  height: 200px;
  border: 1px solid #af3a65;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 23.5%;
  margin-right: 2%;
  text-align: center;
  padding-top: 33px; }
  .contacts-item:last-child {
    margin-right: 0; }
  .contacts-item__icon {
    margin-bottom: 25px; }
    .contacts-item__icon i {
      display: inline-block;
      vertical-align: middle;
      font-size: 60px;
      color: #af3a65; }
  .contacts-item__head {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 12px; }
  .contacts-item__text {
    font-size: 18px; }

.contacts__text {
  text-align: center;
  padding: 0 120px; }
  .contacts__text p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 30px; }

.contacts-map {
  height: 420px;
  margin-bottom: 65px; }
  .contacts-map iframe {
    border: none;
    width: 100%;
    height: 100%; }

/* Journal */
.journal .main-journal__date:after {
  content: '/';
  display: block;
  position: absolute;
  top: 0;
  right: -12px; }

.journal .main-journal-item {
  margin-bottom: 45px; }

.journal-links {
  margin-bottom: 36px;
  text-align: center; }
  .journal-links li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 27px;
    position: relative; }
    .journal-links li:after {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -16px;
      font-weight: 900; }
    .journal-links li:last-child:after {
      display: none; }
    .journal-links li:last-child {
      margin-right: 0; }
    .journal-links li a {
      color: #af3a65;
      font-size: 14px;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 2px; }
      .journal-links li a:hover {
        text-decoration: none; }
      .journal-links li a.active {
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none; }

/* Pagination */
.pagination {
  text-align: center;
  padding: 22px 0 65px; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .pagination li:first-child, .pagination li:last-child {
      margin: 0 15px; }
      .pagination li:first-child a:hover, .pagination li:last-child a:hover {
        text-decoration: none; }
    .pagination li:after {
      content: '/';
      display: inline-block;
      color: #af3a65;
      margin: 0 15px;
      font-weight: 700; }
    .pagination li:last-child:after, .pagination li:nth-last-child(2):after, .pagination li:first-child:after {
      display: none; }
    .pagination li a {
      color: #af3a65;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 900; }
      .pagination li a:hover {
        text-decoration: underline; }
      .pagination li a.active {
        color: #000;
        font-family: "Book Antiqua";
        font-size: 32px;
        font-weight: 700;
        margin-top: -12px; }
        .pagination li a.active:hover {
          text-decoration: none; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li:nth-child(9) {
      transform: rotate(180deg); }
  .pagination i {
    color: #af3a65;
    font-size: 10px; }

/* Article */
.article {
  float: left;
  width: 64%; }
  .article h2 {
    font-family: "Book Antiqua";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px; }
  .article__date {
    display: inline-block;
    vertical-align: top;
    color: #010101;
    font-weight: 300;
    margin-bottom: 30px; }
  .article span {
    font-weight: 900;
    padding: 0 9px;
    text-transform: uppercase; }
  .article__cat {
    display: inline-block;
    vertical-align: top;
    color: #af3a65;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase; }
  .article p {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 30px;
    font-weight: 300; }
    .article p:nth-child(5) {
      padding-top: 30px; }
  .article-header {
    padding: 26px 0 56px; }
  .article-social {
    float: left; }
    .article-social a {
      margin-right: 15px; }
  .article__back {
    float: right;
    color: #af3a65;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 6px; }
    .article__back i {
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-top: -2px; }
    .article__back:hover {
      color: #8a1540; }
  .article-sidebar {
    float: right;
    width: 32%;
    padding-top: 38px; }
    .article-sidebar h2 {
      font-family: "Book Antiqua";
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 33px; }
    .article-sidebar .main-journal-item {
      width: 100%;
      margin-bottom: 40px;
      margin-right: 0; }
    .article-sidebar .main-journal__arrow {
      padding: 0; }

/* About */
.about {
  padding: 0 114px;
  text-align: center; }
  .about .head-about {
    margin-bottom: 10px; }
  .about .caption-about {
    padding-bottom: 35px; }
  .about h3 {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 45px 0 28px; }
  .about p {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 30px; }

/* Client */
.client .about {
  padding-bottom: 30px; }

.client-gallery {
  font-size: 0;
  padding-top: 50px;
  padding-bottom: 43px;
  border-bottom: 1px solid #af3a65;
  margin-bottom: 64px; }
  .client-gallery a {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 30px; }
    .client-gallery a:nth-child(3n) {
      margin-right: 0; }

.client-items {
  font-size: 0;
  padding-bottom: 67px; }

/* Best */
.best-wrap_withoutpadding .best {
  padding-top: 0; }

.best {
  padding-top: 55px;
  padding-bottom: 55px; }
  .best-items {
    font-size: 0;
    padding-top: 40px; }
  .best-item {
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    position: relative;
    margin-bottom: 50px; }
    .best-item:nth-child(3n) {
      margin-right: 0; }
    .best-item:hover .best-item__cover {
      opacity: 1; }
    .best-item__already {
      text-align: right;
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      padding-right: 10px;
      margin-bottom: 17px; }
    .best-item-icons {
      position: absolute;
      top: 30px;
      right: 0;
      width: 64px; }
      .best-item-icons i {
        width: 100%;
        text-align: center;
        color: #999;
        display: block;
        margin-bottom: 18px;
        font-size: 30px; }
        .best-item-icons i:first-child {
          font-size: 20px; }
    .best-item__img {
      margin-right: 66px;
      position: relative;
      margin-bottom: 20px; }
      .best-item__img:hover + a {
        background: #af3a65; }
        .best-item__img:hover + a span {
          opacity: 1; }
        .best-item__img:hover + a i {
          color: #fff; }
    .best-item__cover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.4);
      transition: 300ms;
      opacity: 0; }
    .best-item__badge {
      position: absolute;
      left: 20px;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #010101;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      z-index: 100; }
      .best-item__badge.hit {
        background: #0099da;
        color: #fff; }
      .best-item__badge.sale {
        background: #fcc1b1; }
      .best-item__badge.new {
        background: #f08eb2; }
    .best-item__order {
      position: absolute;
      top: 365px;
      right: 0;
      background: none;
      transition: 300ms; }
      .best-item__order:hover {
        background: #af3a65; }
        .best-item__order:hover i {
          color: #fff; }
        .best-item__order:hover span {
          opacity: 1; }
      .best-item__order i {
        font-size: 35px;
        color: #af3a65;
        width: 66px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        transition: 300ms; }
      .best-item__order span {
        opacity: 0;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        transition: 300ms; }
    .best-item-collection {
      margin-bottom: 13px; }
      .best-item-collection a {
        float: left;
        color: #8f8f8f;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px; }
        .best-item-collection a:hover {
          color: #000; }
      .best-item-collection span {
        float: right;
        text-decoration: line-through;
        color: #8e8e8e;
        font-size: 16px;
        margin-right: 22px; }
    .best-item-name a {
      float: left;
      color: #af3a65;
      font-size: 28px;
      font-family: 'Book Antiqua';
      font-weight: bold; }
      .best-item-name a:hover {
        color: #9d1849; }
    .best-item-name span {
      float: right;
      color: #8e8e8e;
      font-size: 24px;
      font-weight: bold;
      margin-right: 22px;
      color: #000;
      margin-top: 4px; }
  .best-link {
    text-align: center; }
    .best-link a {
      border: 1px solid #af3a65;
      line-height: 48px;
      padding: 0 25px;
      color: #af3a65;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.5px; }
      .best-link a:hover {
        background: #af3a65;
        color: #fff; }
  .best .pagination {
    padding-bottom: 0; }

/* Select */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 0;
  height: 45px;
  margin-right: 0;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl';
  text-transform: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 41px;
  width: 220px;
  padding-right: 0;
  color: #000;
  padding-left: 15px; }

.select2-container {
  margin-right: 0 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 14px;
  right: 9px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }
  .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: "\e917";
    font-family: 'icomoon' !important;
    font-size: 18px;
    transform: rotate(-90deg);
    display: inline-block;
    color: #999; }

.select2-search--dropdown {
  display: none; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 330px; }

.select2-results__option {
  padding: 10px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #af3a65; }

/* Main links */
.main-links {
  font-size: 0; }
  .main-links-wrap {
    margin-top: 24px;
    padding-bottom: 65px; }
  .main-links_margin {
    padding-bottom: 75px; }
  .main-links-item {
    font-size: 16px;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    border: 1px solid #b7b7b7;
    transition: 300ms;
    position: relative;
    padding: 33px 0 0 0;
    text-align: center;
    height: 140px;
    color: #0a0a0a; }
    .main-links-item:hover {
      color: #af3a65; }
      .main-links-item:hover .main-links__icon i {
        color: #af3a65; }
    .main-links-item:last-child {
      margin-right: 0; }
    .main-links-item > i {
      font-size: 10px;
      transform: rotate(180deg);
      display: inline-block; }
  .main-links__icon {
    position: absolute;
    top: -23px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    background: #fff; }
    .main-links__icon i {
      color: #b7b7b7;
      font-size: 45px;
      line-height: 45px;
      transition: 300ms; }
      .main-links__icon i.icon-10 {
        font-size: 30px; }
  .main-links__head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px; }
  .main-links p {
    margin-bottom: 23px; }

/* Product */
.product {
  padding-bottom: 60px;
  margin-bottom: 50px;
  border-bottom: 1px solid #af3a65; }
  .product-gallery {
    float: left;
    width: 49%; }
    .product-gallery__main {
      margin-bottom: 29px; }
    .product-gallery__item a {
      margin-right: 32px;
      opacity: 0.4; }
      .product-gallery__item a:hover {
        opacity: 1; }
  .product-info {
    float: right;
    width: 46%; }
  .product-item {
    padding-bottom: 30px;
    padding-top: 28px;
    border-bottom: 1px solid #c2c2c2; }
    .product-item:first-child {
      padding-top: 0; }
    .product-item:last-child {
      border-bottom: none; }
    .product-item:nth-child(2) {
      padding-bottom: 10px; }
    .product-item__cat {
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 19px;
      letter-spacing: 2px;
      font-weight: 700; }
      .product-item__cat:hover {
        color: #000; }
    .product-item__head {
      font-family: "Book Antiqua";
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 18px; }
    .product-item__comp {
      font-size: 16px;
      padding-bottom: 16px; }
      .product-item__comp b {
        margin-right: 10px; }
    .product-item__charact {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      font-size: 16px; }
      .product-item__charact img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      .product-item__charact p {
        display: inline-block;
        vertical-align: middle; }
    .product-item-head {
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 28px;
      letter-spacing: 2px;
      font-weight: 700; }
    .product-item__em {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      padding-right: 54px;
      padding-bottom: 18px; }
      .product-item__em i {
        display: inline-block;
        width: 45px;
        margin-right: 22px;
        font-size: 25px;
        color: #9c9d9d;
        vertical-align: middle;
        text-align: center; }
        .product-item__em i.icon-chrysal {
          font-size: 20px; }
      .product-item__em p {
        display: inline-block;
        vertical-align: middle;
        color: #8f8f8f;
        font-size: 16px; }
    .product-item__input {
      display: inline-block;
      border: 1px solid #c2c2c2;
      margin-right: 135px;
      margin-bottom: 34px;
      font-size: 0; }
      .product-item__input span {
        display: inline-block;
        color: #aaa;
        font-size: 24px;
        padding: 0 15px;
        line-height: 50px;
        cursor: pointer; }
      .product-item__input input {
        text-align: center;
        line-height: 50px;
        border: none;
        width: 68px;
        font-size: 24px;
        font-weight: 700;
        border-left: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2; }
    .product-item__price {
      display: inline-block;
      font-size: 34px;
      font-weight: 900; }
    .product-item__link {
      color: #fff;
      font-size: 16px;
      line-height: 50px;
      text-transform: uppercase;
      background: #af3a65;
      padding: 0 14px 0 24px;
      font-weight: 900;
      margin-right: 102px;
      letter-spacing: 2px; }
      .product-item__link:hover {
        background: #8a1540; }
      .product-item__link i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-size: 32px;
        margin-top: -7px; }
    .product-item__order {
      color: #af3a65;
      font-size: 16px;
      line-height: 48px;
      text-transform: uppercase;
      padding: 0 20px;
      font-weight: 900;
      border: 2px solid #af3a65;
      letter-spacing: 2px; }
      .product-item__order:hover {
        color: #fff;
        background: #af3a65; }
  .product-bonus {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    position: relative; }
    .product-bonus img {
      position: absolute;
      top: 0;
      left: 10px; }
    .product-bonus:last-child {
      padding-left: 65px; }
    .product-bonus__head {
      font-size: 16px;
      text-transform: uppercase;
      padding-bottom: 15px;
      letter-spacing: 2px; }
    .product-bonus__sum {
      color: #af3a65;
      font-size: 34px; }
    .product-bonus p {
      line-height: 1.6;
      padding-bottom: 10px; }
    .product-bonus a {
      color: #af3a65;
      text-decoration: underline; }
      .product-bonus a:hover {
        text-decoration: none; }
  .product-descr__head {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 900; }
  .product-descr p {
    line-height: 1.6; }

.price-items {
  font-size: 0;
  padding-bottom: 60px; }

.price-item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-right: 2.6%;
  text-align: center; }
  .price-item:last-child {
    margin-right: 0; }
  .price-item__img {
    opacity: 0.9; }
    .price-item__img:hover {
      opacity: 1; }
  .price-item__head {
    display: inline-block;
    font-family: "Book Antiqua";
    font-size: 22px;
    font-weight: 700;
    margin: 27px 22px 28px 0;
    color: #000; }
    .price-item__head:hover {
      color: #af3a65; }
  .price-item span {
    font-size: 22px;
    font-weight: 900; }
  .price-item__link {
    color: #af3a65;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
    .price-item__link:hover {
      text-decoration: underline; }

/* Basket */
.basket-form {
  float: left;
  width: 66%; }
  .basket-form table {
    border-collapse: collapse;
    width: 100%; }
    .basket-form table thead tr th {
      color: #949494;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 16px; }
      .basket-form table thead tr th:first-child {
        width: 500px;
        text-align: left; }
      .basket-form table thead tr th:nth-child(2) {
        width: 130px; }
      .basket-form table thead tr th:nth-child(3) {
        width: 125px; }
      .basket-form table thead tr th:nth-child(4) {
        width: 100px; }
      .basket-form table thead tr th:last-child {
        width: 17px; }
    .basket-form table tbody tr td {
      border-top: 1px solid #c2c2c2;
      vertical-align: top;
      text-align: center; }
      .basket-form table tbody tr td:first-child {
        text-align: left; }
      .basket-form table tbody tr td:nth-child(2) {
        padding-top: 20px; }
      .basket-form table tbody tr td:nth-child(3), .basket-form table tbody tr td:nth-child(4), .basket-form table tbody tr td:last-child {
        padding-top: 28px;
        font-size: 18px;
        text-transform: uppercase; }

.basket__close {
  background: url(../images/basket-table.png) no-repeat left;
  width: 17px;
  height: 18px;
  cursor: pointer; }
  .basket__close:hover {
    background-position: right; }

.basket-img {
  padding: 20px 0; }

.basket-header {
  margin-bottom: 26px; }

.basket-head {
  display: inline-block;
  vertical-align: top;
  margin: 27px 0 0 30px; }
  .basket-head p {
    font-size: 16px; }

.basket__caption {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 7px; }
  .basket__caption:hover {
    color: #af3a65; }

.basket-input {
  display: inline-block;
  border: 1px solid #c2c2c2;
  text-align: center;
  font-size: 0; }
  .basket-input span {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 12px;
    cursor: pointer; }
  .basket-input input {
    display: inline-block;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2; }

.basket-delivery {
  padding-top: 36px;
  padding-bottom: 50px; }
  .basket-delivery__head {
    color: #949494;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    float: left; }

.basket-content {
  margin-left: 196px; }
  .basket-content .radio {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    position: relative; }
    .basket-content .radio input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 100;
      cursor: pointer; }
      .basket-content .radio input:checked + span:before {
        opacity: 1; }
    .basket-content .radio span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #959595;
      border-radius: 50%; }
      .basket-content .radio span:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #af3a65;
        opacity: 0;
        border: 1px solid #959595;
        border-radius: 50%;
        transition: 300ms; }

.basket-radio {
  margin-bottom: 18px; }
  .basket-radio label {
    font-size: 16px;
    margin-left: 30px;
    display: block;
    cursor: pointer;
    line-height: 1.5; }
    .basket-radio label span {
      color: #949494;
      display: block;
      line-height: 1.5; }

.basket-bonus {
  margin-bottom: 37px; }
  .basket-bonus__mark {
    float: left;
    width: 590px;
    background: #fae8e3;
    padding: 23px 22px 26px; }
    .basket-bonus__mark p {
      font-size: 18px;
      padding-bottom: 28px; }
    .basket-bonus__mark > span {
      display: block;
      padding-bottom: 18px; }
  .basket-bonus__score {
    float: left;
    width: 290px;
    background-color: #af3a65;
    padding: 50px 40px 50px 26px; }
    .basket-bonus__score span {
      display: block;
      font-size: 24px;
      color: #fff;
      padding-bottom: 8px; }
    .basket-bonus__score p {
      font-size: 16px;
      line-height: 1.6;
      color: #fff; }
  .basket-bonus button {
    color: #fefefe;
    font-size: 14px;
    line-height: 34px;
    text-transform: uppercase;
    border: none;
    background: #af3a65;
    cursor: pointer;
    padding: 0 16px 0 20px;
    font-weight: 900;
    margin-left: 5px;
    transition: 300ms; }
    .basket-bonus button:hover {
      background: #8a1540; }

.basket-checkbox {
  display: inline-block;
  vertical-align: middle; }
  .basket-checkbox label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    cursor: pointer; }

.basket-inputs {
  display: inline-block; }
  .basket-inputs input {
    width: 78px;
    line-height: 30px;
    border: 1px solid #43525a;
    font-size: 16px;
    padding: 0 14px;
    text-align: right; }

.basket-add {
  margin-left: 196px;
  margin-bottom: 60px; }
  .basket-add p {
    font-size: 24px;
    line-height: 1.3;
    display: inline-block; }
    .basket-add p span {
      color: #af3a65; }
  .basket-add__link {
    color: #af3a65;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 10px; }

.basket-info {
  float: right;
  width: 32%;
  background: #fcdfd7;
  padding: 25px 30px; }
  .basket-info h3 {
    color: #af3a65;
    font-size: 24px;
    padding-bottom: 10px; }
  .basket-info table {
    border-collapse: collapse; }
  .basket-info tr:last-child td {
    padding-top: 10px; }
  .basket-info tr:nth-last-child(2) td {
    padding-bottom: 10px; }
  .basket-info tr td:first-child {
    width: 283px;
    line-height: 34px; }
  .basket-info tr td:last-child {
    font-size: 18px; }
  .basket-info__total {
    font-size: 18px;
    border-top: 1px solid #6f6360;
    text-transform: uppercase; }
  .basket-info__button {
    text-align: center; }
    .basket-info__button button {
      color: #fff;
      border: none;
      background: #af3a65;
      font-size: 14px;
      line-height: 50px;
      text-transform: uppercase;
      padding: 0 27px 0 22px;
      font-weight: 900;
      transition: 300ms;
      margin-top: 20px;
      cursor: pointer; }
      .basket-info__button button:hover {
        background: #8a1540; }

.checkbox {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 6px; }
  .checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 5; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #43525a;
    border-radius: 50%; }
    .checkbox span:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: #000;
      border-radius: 50%;
      opacity: 0; }

/* Order */
.order-item {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 30px;
  padding-bottom: 5px; }
  .order-item__head {
    color: #949494;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .order-item__input {
    margin-bottom: 25px; }
    .order-item__input input,
    .order-item__input textarea {
      font-family: 'Museo Sans Cyrl';
      width: 540px;
      line-height: 50px;
      padding: 0 18px;
      font-size: 16px;
      color: #000;
      border: 1px solid #c2c2c2; }
      .order-item__input input:first-child,
      .order-item__input textarea:first-child {
        margin-right: 30px; }
      .order-item__input input::-webkit-input-placeholder,
      .order-item__input textarea::-webkit-input-placeholder {
        color: #000; }
      .order-item__input input:-moz-placeholder,
      .order-item__input textarea:-moz-placeholder {
        color: #000; }
      .order-item__input input::-moz-placeholder,
      .order-item__input textarea::-moz-placeholder {
        color: #000; }
      .order-item__input input:-ms-input-placeholder,
      .order-item__input textarea:-ms-input-placeholder {
        color: #000; }
    .order-item__input textarea {
      height: 150px;
      font-size: 16px;
      resize: none;
      line-height: 1.3;
      padding-top: 10px; }
    .order-item__input .basket-checkbox input {
      width: auto; }

.order-info {
  padding-top: 10px;
  padding-bottom: 12px; }

.order-delivery__date {
  font-size: 0; }

.order-date {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-right: 27px;
  margin-bottom: 22px; }
  .order-date:nth-child(4n) {
    margin-right: 0; }
  .order-date input {
    display: none; }
  .order-date__day {
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    border: 1px solid #c2c2c2;
    cursor: pointer; }
  .order-date.active {
    background-color: #fcdfd7; }
  .order-date.conform {
    width: 427px;
    margin-right: 0; }

.order-link {
  color: #af3a65;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 60px; }

/* Ordering */
.ordering {
  padding-bottom: 80px; }
  .ordering-head {
    display: inline-block;
    margin-bottom: 28px; }
    .ordering-head span {
      color: #af3a65; }
  .ordering-text {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 32px; }
  .ordering-basket table thead tr th {
    border-top: 1px solid #c2c2c2;
    padding-top: 18px; }
    .ordering-basket table thead tr th:last-child {
      width: 100px; }
  .ordering-basket table tbody tr td span {
    font-size: 16px; }
  .ordering-basket table tbody tr td:nth-child(2) {
    padding-top: 30px; }
  .ordering-input {
    border: none; }
    .ordering-input span {
      display: none; }
    .ordering-input input {
      border: none;
      font-size: 16px;
      line-height: 0; }
  .ordering-info table tbody tr td:first-child {
    width: 210px;
    font-size: 16px;
    vertical-align: top;
    line-height: 38px; }
  .ordering-info table tbody tr td:nth-last-child(2) {
    padding: 0; }
  .ordering-info table tbody tr td:last-child {
    font-size: 16px;
    padding: 0;
    line-height: 25px; }
  .ordering__head {
    padding-top: 30px;
    margin-top: 25px;
    border-top: 1px solid #111; }
  .ordering-tel, .ordering-mail {
    color: #000;
    font-size: 16px; }
    .ordering-tel:hover, .ordering-mail:hover {
      color: #af3a65; }

/* Modal */
.modal {
  display: inline-block;
  border: 1px solid #c2c2c2;
  padding: 20px 50px 36px;
  position: relative;
  background: #fff;
  display: none; }
  .modal-head {
    color: #af3a65;
    font-size: 24px;
    padding-bottom: 38px;
    text-align: left; }
  .modal-form {
    text-align: center;
    margin-bottom: 22px; }
  .modal-input {
    width: 310px;
    margin-bottom: 24px; }
    .modal-input span {
      font-weight: 900;
      text-transform: uppercase;
      display: block;
      padding-bottom: 12px;
      text-align: left; }
    .modal-input input {
      width: 100%;
      border: 1px solid #c2c2c2;
      line-height: 38px;
      padding: 0 18px; }
  .modal-item {
    padding: 22px 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 22px;
    text-align: center; }
    .modal-item p {
      font-size: 16px;
      padding-bottom: 15px; }
    .modal-item span {
      color: #929292;
      font-size: 12px; }
  .modal-soc {
    padding-bottom: 14px; }
    .modal-soc a {
      margin-right: 6px; }
      .modal-soc a:last-child {
        margin-right: 0; }
  .modal-bottom {
    text-align: center; }
    .modal-bottom p {
      font-size: 16px;
      padding-bottom: 6px; }
    .modal-bottom span {
      font-size: 16px; }
    .modal-bottom a {
      color: #af3a65;
      text-decoration: underline;
      font-size: 16px; }
      .modal-bottom a:hover {
        text-decoration: none; }

.fancybox-close-small {
  background: url(../images/modal-img.png) no-repeat left;
  width: 25px;
  height: 26px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer; }
  .fancybox-close-small:hover {
    background-position: right; }

.fancybox-bg {
  background-color: #fcdfd7; }

.fancybox-is-open .fancybox-bg {
  opacity: .8; }

.fancybox-close-small:after {
  display: none; }

.cabinet-form {
  padding-bottom: 30px; }

.cabinet-items {
  display: none; }
  .cabinet-items.active {
    display: block; }

.cabinet-header-items {
  font-size: 0; }

.cabinet-header-item {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  margin-right: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #c2c2c2;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer; }
  .cabinet-header-item.active {
    color: #fff;
    background: #af3a65; }
  .cabinet-header-item:last-child {
    margin-right: 0; }
  .cabinet-header-item:first-child {
    margin-left: 12px; }

.cabinet-item {
  padding: 30px 0;
  border-top: 1px solid #c2c2c2; }
  .cabinet-item__head {
    font-size: 20px;
    padding-bottom: 25px; }
  .cabinet-item__text {
    line-height: 1.5;
    padding-bottom: 25px; }

.cabinet-input {
  margin-bottom: 24px; }
  .cabinet-input:last-child {
    margin-bottom: 0; }
  .cabinet-input span {
    display: inline-block;
    vertical-align: middle;
    color: #b2b2b2;
    text-transform: uppercase;
    width: 144px;
    letter-spacing: 0.5px; }
  .cabinet-input input {
    display: inline-block;
    vertical-align: middle;
    width: 310px;
    line-height: 38px;
    border: 1px solid #c2c2c2;
    font-size: 16px;
    padding: 0 12px;
    font-family: inherit; }
    .cabinet-input input::-webkit-input-placeholder {
      color: #000; }
    .cabinet-input input:-moz-placeholder {
      color: #000; }
    .cabinet-input input::-moz-placeholder {
      color: #000; }
    .cabinet-input input:-ms-input-placeholder {
      color: #000; }

.cabinet-content {
  float: left;
  width: 460px; }

.cabinet-text {
  float: right;
  width: 342px; }
  .cabinet-text p {
    line-height: 1.3;
    font-size: 16px;
    padding-bottom: 20px; }
  .cabinet-text a {
    text-transform: uppercase;
    line-height: 35px;
    background: #af3a65;
    color: #fff;
    padding: 0 25px;
    font-weight: 900; }
    .cabinet-text a:hover {
      background: #8a1540; }

.cabinet__content {
  margin-left: 0; }
  .cabinet__content label {
    font-size: 14px; }
  .cabinet__content .radio {
    margin-top: 3px; }

.cabinet-info span {
  font-size: 18px;
  padding-bottom: 14px;
  display: block; }

.cabinet-info h3 {
  padding-bottom: 24px;
  border-bottom: 1px solid #6f6360;
  margin-bottom: 20px; }

.cabinet-info p {
  font-size: 18px;
  line-height: 1.3;
  padding-bottom: 14px; }

.cabinet-info a {
  display: inline-block;
  color: #000;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px; }
  .cabinet-info a:hover {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */